extends layout

block content
  main.main(role='main')
    .container
      section.services
        h2 Accessibility
        p.leader.center We've designed and built to be accessible to as wide an audience as possible.
        .leftcontent
          h3.center Standards compliance
          p 
            | We've applied the priority 1 guidelines of the 
            a(href='http://www.w3.org/TR/WCAG10/', target="_blank") W3 Web Content Accessibility Guidelines 
            | and the 
            a(href='http://www.section508.gov/', target="_blank") U.S. Federal Government Section 508 Guidelines
            | .
          p All pages validate as HTML5. This choice helps to make our site future-friendly for new devices and changes to the current standards.
          h3.center Links
          p The links contained in this site have title attributes which describe the link in greater detail, unless the text of the link already fully describes the target (such as the headline of an article).
          h3.center Visual design
          p We have used cascading style sheets for visual layout. If your browser or device does not support stylesheets, the content of each page is still readable.
          p The layout is fluid. It will simply filling its window. To make your browsing experience a bit more accommodating you can resize text and, as relative units have been used, text can even be re-sized in Internet Explorer for Windows.  