extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/brenkir-placehold.jpg')
    .container
      section.work
        h2 Industrial Supply Ecommerce Website
        .case-studycopy
          p For a growing industrial supply company with big emphasis on service, we knew Brenkir needed a super user-friendly website.
          p With complete and custom web design and development, an eCommerce platform and member management – we helped make online customer service even easier for the company. The website is friendly, welcoming, easy to use, and efficient.
          p They wanted a website their customers could place orders, with integration with their existing internal systems. Our custom work allows their clients to have access to the convenience of online ordering, and the company was able to continue using the internal system they were comfortable and invested in.
          p Compared to the former site, visits to the website doubled and the typical indicators of success from analytics and word of mouth shows that the launch was more than successful. 
        aside
          h4 Projects Included
          ul
            li Web Development
            li Web Design
            li System Integration
            li Custom Application
            li Ecommerce
            li Search Engine Optimization
            li Hosting
            li Maintenance
          a.button(href="http://www.brenkir.com/", target="_blank") Visit the Site