extends layout

block content
  main.main(role='main')
    section.otherservices
      ul
        li
          a(href='/immersive')
            img(src="/images/immersive.png")
            .dot
        li
          a(href='/interactive')
            img(src="/images/success.png")
            .dot
        li.next
          a(href='/mobile')
            img(src="/images/mobile.png")
            .dot
        li.active
          a(href='/commerce')
            img(src="/images/commerce.png")
            .dot.active
        li.next
          a(href='/consulting')
            img(src="/images/consult.png")
            .dot
    .container
      section.services
        h2 eCommerce Websites
        .leftcontent
          p We work with large and small businesses to create ecommerce websites that take their businesses beyond the boundaries of their stores. From basic ecommerce websites and marketing plans to full system integration (accounting, inventory, etc), we will work together to make selling online simple, manageable, and effective.  
          h3.center We offer:
          ul
            li
              img(src='/images/ecommerceint.png') 
              p.center 
                strong 
                  | eCommerce Development
                  br 
                  | &amp; Integration
            li
              img(src='/images/measure.png')
              p.center 
                strong 
                  | Conversion Testing 
                  br 
                  | &amp; Implementation  
            li 
               img(src='/images/gateway.png')
               p.center 
                 strong 
                   | Gateway
                   br
                   | Integration
            li 
              img(src='/images/bigthree.png')
              p.center 
                strong 
                  | Shopify, BigCommerce
                  br
                  | &amp; Magento Development
      .partnered
        p.leader.center Does this resonate?
          | We want you to 
          a(href='/contact') partner with us
          | .