extends layout

block content
  main.main(role='main')
    .container
      aside
        ul.nav-sub
          li.current-page
            a(href='/company') Company
          li
            a(href='/team') Team
          li
            a(href='/jobs') Jobs
          li
            a(href='/contact') Contact
      section
        h2 We don’t want to work with you. 
        p.leader.center That is, unless you’re ready to let go of 
          span “how things are” 
          |  to make room for your new, exciting future. 
        p
          b INFINITUS 
          | Interactive: a rare combination of marketing + technology savvy not often seen in the wild. Creating remarkable results for your business is why we wake up each morning and can’t get to sleep at night.
        p Infinitus means limitless in Latin. In today’s world, change is happening at an exponential rate. “Business as usual” is dead. The opportunities are huge if you embrace this change. 
        p We are an award-winning interactive agency in St. John’s with a passion for big ideas and big results.
        article 
          h3.center We want to work with business owners who believe:
          ul
            li Changing the world through your business is a lifestyle.
            li Effort alone doesn’t produce results. You have to be going in the right direction. 
            li Learning is good. Common sense is gold. 
            li You can’t be an expert in everything. Great success depends on working with other leaders.
            li Limits are just excuses. You can’t achieve greatness by doing the things you’ve always done.
        .partnered
          p.leader.center Does this resonate?
            | We want you to 
            a(href='/contact') partner with us
            | . 	