extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/ellsworth-placehold.jpg')
    .container
      section.work
        h2 A Winning Political Campaign Strategy

        .case-studycopy
          p Ron Ellsworth is campaigning to win the Deputy Mayor of St. John’s Canada in 2013. We worked with him to translate his political message into a dynamic brand online. His website is state-of-the-art with social media integration, eNewsletter, bold design and responsive to mobile viewing. He hasn’t won (yet), but we’re confident for the good news in the fall!
        aside
          h4 Projects Included
          ul
            li Brand Development from Scratch
            li Marketing Strategy Consulting
            li Social Media Management
            li Responsive Website Design
            li Content Management System (CMS)
          a.button(href="http://ellsworth2013.com/", target="_blank") Visit the Site