extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/ellsworth-placehold.jpg')
    .container
      section.work
        h2 A Winning Political Campaign Strategy

        .case-studycopy
          p Ron Ellsworth recently won the election in the City of St. John for his bid to be the Deputy Mayor.
          p We worked with him to translate his political message into a dynamic brand online. His website is state-of-the-art with social media integration, eNewsletter, bold design and responsive to mobile viewing and overall his campaign was build with all visitors in mind.
          p St. John is a dynamic area. Although online marketing isn’t the only medium to promote a message, his integration of traditional and innovative marketing techniques made his campaign memorable. And, it worked; he’s now the Deputy Mayor.
          blockquote
            | He’s helped shape our strategy on how to attract people online and engage our audience.
            footer 
              cite Ron Ellsworth, Owner - Ellsworth Group of Companies
        aside
          h4 Projects Included
          ul
            li Brand Development from Scratch
            li Marketing Strategy Consulting
            li Social Media Management
            li Responsive Website Design
            li Content Management System (CMS)
          a.button(href="http://ellsworth2013.com/", target="_blank") Visit the Site