extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/golfwrx-placehold.jpg')
    .container
      section.work
        h2 Social Golf Community Website Design
        .case-studycopy
          p Golfwrx has been a long time client of ours; we’ve helped them build one of the largest online golfing communities in the world. When we saw the opportunity to combine the functionalities of YouTube and Flickr for the golf community and its tens of millions of visitors, we instantly said "yes".
          p We built a full online interactive user system using the WordPress platform and integrated it with four full video and photo streaming services. We had to make sure that it worked seamlessly with all of their existing services. We then created a mobile version of the system that went as far as allowing users to upload photos from their mobile device - without needing to download an application.
          p The user adoption rate has been rapid with hundreds of thousands of photos uploaded in only a few months.
        aside
          h4 Projects Included
          ul
            li WordPress Platform Development
            li Mobile
            li Social Website
          a.button(href="http://golfwrx.com/") Visit the Site