extends layout

block content
  main.main(role='main')
    section.otherservices
      ul
        li.active
          a(href='/immersive')
            img(src="/images/immersive.png")
            .dot.active
        li.next
          a(href='/interactive')
            img(src="/images/success.png")
            .dot
        li
          a(href='/mobile')
            img(src="/images/mobile.png")
            .dot
        li
          a(href='/commerce')
            img(src="/images/commerce.png")
            .dot
        li
          a(href='/consulting')
            img(src="/images/consult.png")
            .dot
    .container
      section.services
        h2 Website Design Services
        p.leader.center 
          | Does your website look as good as your business really is?
          br
          | Can you easily update it whenever you need to?
          br
          | Does the design stand out from your competitors?
        h3.center If you answered “no” to any of these questions, we can help.
        .leftcontent
          p
            | Your website is the online version of your storefront (or office). Even if customers ultimately interact with you in person, you can be sure that they are searching for your product/service online first. Take advantage of this opportunity to become the local market leader – and to reap the rewards in customer and industry attention.
          h3.center We offer:
          ul
            li
              img(src='/images/gears.png') 
              p.center 
                strong 
                  | Website
                  br 
                  | Development
            li
              img(src='/images/design.png')
              p.center 
                strong 
                  | Website 
                  br 
                  | Design
            li 
               img(src='/images/eyes.png')
               p.center 
                 strong Search Engine Optimization 
                 i (SEO)
            li 
              img(src='/images/social.png')
              p.center 
                strong 
                  | Social Media
                  br
                  | Optimization
            li 
              img(src='/images/content.png')
              p.center
                strong 
                  | Content Management 
                  br
                  | Systems

      .partnered
        p.leader.center 
          | Want to work with us? 
          a(href='/contact') Let’s chat!
          | .