extends layout

block content
  main.main(role='main')
    section.otherservices
      ul
        li.next
          a(href='/immersive')
            img(src="/images/immersive.png", title='Immersive Design')
            .dot
        li.active
          a(href='/interactive')
            img(src="/images/success.png", title='Interactive Design')
            .dot.active
        li.next
          a(href='/mobile')
            img(src="/images/mobile.png", title='Mobile Design')
            .dot
        li
          a(href='/commerce')
            img(src="/images/commerce.png", title='Ecommerce Design')
            .dot
        li
          a(href='/consulting')
            img(src="/images/consult.png", title='Consulting')
            .dot
    .container
      section.services
        h2 Interactive Marketing & Strategy
        p.leader.center 
          | Audiences are moving. 
          span Innovating. 
          | Adapting. 
          span Creating.
        .leftcontent
          p They’re interacting like never before. They’re using new media and becoming the producers. They’re socializing and searching to find everything they need and want.
          p If you want to exist in their world, you need to be in the thick of it with them. Get involved or out of the way. If you want to beat your competitors, you need a new digital game plan. That’s where we come in.
          h3.center We offer:
          ul
            li
              img(src='/images/smm.png') 
              p.center 
                strong 
                  | Social Media
                  br 
                  | Marketing
            li
              img(src='/images/searchengine.png')
              p.center 
                strong Search Engine Marketing 
                i (SEM, Adwords) 
            li 
               img(src='/images/eyes.png')
               p.center 
                 strong 
                   | Search Engine 
                   br 
                   | Optimization 
                   i (SEO)
            li 
              img(src='/images/social.png')
              p.center 
                strong 
                  | Social Media 
                  br 
                  | Optimization
            li 
              img(src='/images/online.png')
              p.center
                strong 
                  | Online 
                  br
                  | Advertising 
             li 
               img(src='/images/creation.png')
               p.center
                 strong 
                   | Content 
                   br
                   | Creation
              li
                img(src='/images/community.png')
                p.center
                  strong 
                    | Community 
                    br 
                    | Management
          
      .partnered
        p.leader.center Want to work with us? 
          a(href='/contact') Let’s chat!