extends layout
 
block content
  main.main(role='main')
    .container
      aside
        ul.nav-sub
          li
            a(href='/company') Company
          li
            a(href='/team') Team
          li.current-page
            a(href='/jobs') Jobs
          li
            a(href='/contact') Contact