extends layout
 
block content
  main.main(role='main')
    .container
      section
        h2 Join Us!
        p.leader.center If you have a passion for interactive marketing and are exceptional at what you do, we want to get to know you.
        p We work with people across the world. Our innovators and thinkers love working from home where they have comfort to go beyond the limits of offices, cubicles and other barriers. Plus, who really likes commuting to work?
        p You don’t have to be crazy to work with us, but it helps.
      aside
        ul.nav-sub
          li
            a(href='/company') Company
          li
            a(href='/team') Team
          li.current-page
            a(href='/jobs') Jobs
          li
            a(href='/contact') Contact