doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= title
    meta(name='description', content='#{description}')
    meta(name='author', content='Chris Da Sie | Freelance Web Designer | http://chrisdasie.com')
    meta(name='keywords', content='#{keywords}')
    meta(name='HandheldFriendly', content='True')
    meta(name='MobileOptimized', content='320')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/superslides.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//use.typekit.net/wyu5eyr.js')
    script try{Typekit.load();}catch(e){}

    script(src='javascripts/vendor/modernizr.js')

  //if (lt IE 9) & (!IEMobile)
      script(src='javascripts/vendor/selectivizr-min.js')    

    meta(http-equiv='cleartype', content='on')
  body
    header.header_nav.header_nav-shrink(role="banner")
      div.cbp-af-inner
        a(href="/")
          h1.logo Infinitus Marketing &amp; Technology
        nav.right#nav(role='navigation')
          ul
            li.current
              a(href="#") Menu
            li
              a(href="/company") Company
            li
              a(href="/work") Work
            li
              a(href="/services") Services
            li
              a(href="/blog") Thoughts
            li
              a(href="/contact") Hire Us
    block content
    footer.dark
      div.container
        .social
          a.twitter 
            span
              img(src='/images/twitter.png')
            | Follow Us On Twitter
          a.facebook 
            | Like Us On Facebook
            span
              img(src='/images/facebook.png')
        .form
          form.mailinglist(action='http://essentialcodinginc.createsend.com/t/y/s/cidhjt/', method='post')
            h4
              label(for='fieldEmail') Subscribe to our newsletter
            input#fieldEmail(name='cm-cidhjt-cidhjt', type='email', required='required')
            input(type='submit') Subscribe
          .startproject
            .startintro
              h4 Ready to start a project with us
              p
                | Got a creative communication problem that you need help solving? We’d love to chat about it.
            .contactlist
              ul
                li 
                  img(src='/images/cell.png') 
                  a(href="tel:+1(888) 369-1688") +1.888.369.1688
                li
                  img(src='/images/twitter.png')  
                  a(href="http://twitter.com/goinfinitus") @goinfinitus
                li
                   img(src='/images/email.png')  
                   a(href="mailto:scott@goinfinitus.com") scott@goinfinitus.com
      div.darker
        div.container
          p.small
            i Lovingly crafted in Newfoundland
          p.copyright &copy;2013 Infinitus Marketing &amp; Technology
          ul
            li
              a(href="/accessibility") Accessibility
            li
              a(href="/styleguide") Style Guide
            li
              a(href="/jobs") Jobs
          
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\\/script>')
    script(src='javascripts/plugins.js')
    script(src='javascripts/vendor/jquery.easing.1.3.js')
    script(src='javascripts/vendor/jquery.nav.js')
    script(src='javascripts/vendor/jquery.animate-enhanced.min.js')
    script(src='javascripts/vendor/hammer.min.js')
    script(src='javascripts/vendor/jquery.superslides.min.js')
    script(src='javascripts/vendor/flowtype.js')
    script(src='javascripts/script.js')
    script(src='javascripts/helper.js')