extends layout

block content
  main.main(role='main')
    .container
      section.work
        h2 Marble Mountain Ski Resort Brand Strategy &amp; Website Development
        img(src='/images/work/marble.jpg')
        .case-studycopy
          p Marble Mountain Resort wanted to break free from being seen as a small, local ski destination. With some of the best skiing opportunities east of the Rockies, we knew that Marble Mountain required our big vision to get the big results they were looking for. 
          p In December 2012, we launched the new Marble Mountain Resort website and mobile website. The site includes advanced social media integration (including user-generated content), online booking and a beautiful design and brand experience.
        aside
          h4 Projects Included
          ul
            li eCommerce
            li Online Booking System Integration
            li Mobile Application
            li Mobile Web Application
            li Application Development
            li Web Design and Development
            li Contents and Promotions
          a.button(href="http://www.skimarble.com/") Visit the Site