extends layout

block content
  main.main(role='main')
    section.otherservices
      ul
        li
          a(href='/immersive')
            img(src="/images/immersive.png", title='Immersive Design')
            .dot
        li.next
          a(href='/interactive')
            img(src="/images/success.png", title='Interactive Design')
            .dot
        li.active
          a(href='/mobile')
            img(src="/images/mobile.png", title='Mobile Design')
            .dot.active
        li.next
          a(href='/commerce')
            img(src="/images/commerce.png", title='Ecommerce Design')
            .dot
        li
          a(href='/consulting')
            img(src="/images/consult.png", title='Consulting')
            .dot
    .container
      section.services
        h2 Mobile Marketing Solutions  
        .leftcontent
          p Mobile marketing is no longer an option. Consumers use mobile devices to search, surf and buy on the Internet every single day. The number of mobile users has exploded and continues to grow. Don’t miss the boat, launch a mobile strategy today – it’s easier than you think, with our help.
          h3.center We offer:
          ul
            li
              img(src='/images/mobilesite.png') 
              p.center 
                strong 
                  | Mobile
                  br 
                  | Websites
            li
              img(src='/images/mobilestrategy.png')
              p.center 
                strong 
                  | Mobile Marketing 
                  br 
                  | Strategy  
            li 
               img(src='/images/responsive.png')
               p.center 
                 strong 
                   | Responsive
                   br
                   | Design
            li 
              img(src='/images/html5.png')
              p.center 
                strong 
                  | HTML5
                  br
                  | Apps
             li 
               img(src='/images/native.png')
               p.center
                 strong 
                   | Native 
                   br
                   | Apps
              li
                img(src='/images/sms.png')
                p.center
                  strong 
                    | SMS 
                    br 
                    | Marketing
          
      .partnered
        p.leader.center Want to work with us? 
          a(href='/contact') Let’s chat!