extends layout

block content
  main.main(role='main')
    .container
      section.services
        h2 Mobile Marketing Solutions  
        .leftcontent
          p Mobile marketing is no longer an option. Consumers use mobile devices to search, surf and buy on the Internet every single day. The number of mobile users has exploded and continues to grow. Don’t miss the boat, launch a mobile strategy today – it’s easier than you think, with our help.
          h3.center We offer:
          ul
            li
              img(src='/images/mobilesite.png') 
              p.center 
                strong 
                  | Mobile
                  br 
                  | Websites
            li
              img(src='/images/mobilestrategy.png')
              p.center 
                strong 
                  | Mobile Marketing 
                  br 
                  | Strategy  
            li 
               img(src='/images/responsive.png')
               p.center 
                 strong 
                   | Responsive
                   br
                   | Design
            li 
              img(src='/images/html5.png')
              p.center 
                strong 
                  | HTML5
                  br
                  | Apps
             li 
               img(src='/images/native.png')
               p.center
                 strong 
                   | Native 
                   br
                   | Apps
              li
                img(src='/images/sms.png')
                p.center
                  strong 
                    | SMS 
                    br 
                    | Marketing
          
      .partnered
        p.leader.center Does this resonate?
          | We want you to 
          a(href='/contact') partner with us
          | .
      .partnered
        h3.center Related Case Studies
        ul
          li
          li
          li