extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/remedy-placehold.jpg')
    .container
      section.work
        h2 Ecommerce Website For Health &amp; Wellness Company
        .case-studycopy
          p Remedy for Wellness wanted revolutionary change. The company is located in St. John’s, Newfoundland and specializes in homeopathic medicine. We helped them completely rebrand (including a name change) and overhaul their web presence. 
          p The largest part of the project was setting up the eCommerce store. Now, they are able to sell over 6000 products online and have a strategic monthly online marketing campaign in place.
        aside
          h4 Projects Included
          ul
            li Company Branding
            li Web Design and Development
            li eCommerce
          a.button(href="http://www.remedyforwellness.com/" target="_blank") Visit the Site