extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/remedy-placehold.jpg')
    .container
      section.work
        h2 Ecommerce Website For Health &amp; Wellness Company
        .case-studycopy
          p Remedy for Wellness wanted revolutionary change. The company is located in St. John’s, Newfoundland and specializes in homeopathic medicine. We helped them completely rebrand (including a name change) and overhaul their web presence. 
          p They now sell over 2,000 of their products online and are targeting two groups of buyers: other industry experts, and the average health-conscious consumer. We knew that the average consumer wouldn’t have a large amount knowledge about natural remedies, so we created a weekly video series. Overall, we’ve had a great response with a 5000% increase in visitors, an average visit time of 3 minutes, and low bounce rate of 21%.
          p In addition to their website, we’ve utilized Facebook to attract an audience of current and potential clients. To date, nearly 2,000 people in the Atlantic Canada "like" the page, with an outstanding engagement level and very positive feedback. With our comprehensive marketing plan, we’ve taken this small St.John’s based company and are allowing them to sell product across the country.
        aside
          h4 Projects Included
          ul
            li Company Branding
            li Web Design and Development
            li eCommerce
          a.button(href="http://www.remedyforwellness.com/", target="_blank") Visit the Site