extends layout

block content
  main.main(role='main')
    .container
      section.services
        h2 Web Development to Infinity… and Beyond 
        p.leader.center 
        h3.center Imagine being the leader of your industry:
        ul
          li 
            img(src="/images/diamonds.png")
            h3 Get noticed
            p Your peers will pay attention to what you are doing, hoping to discover the secrets to your success.
          li 
             img(src="/images/brainill.png")
             h3 First thought
             p You’ll become top-of-mind with your clients. You’ll be their first recommendation to friends.
          li 
             img(src="/images/viewer.png")
             h3 Don't look back
             p You won’t be playing “catch up” with your online marketing. You’ll be leading the pack 
               i (wait until you see the view!)
               | .
      .partnered
        p.leader.center That’s what we do: 
          span
            strong we transform you into a leader of your industry. 
    section.whatwedo
      article
        .container
          img(src="/images/immersive.png")
          .serviceintrocopy
            h3 Immersive Websites
            p Don’t settle for just any website. The websites we design & develop are “Immersion Websites”. They are intuitive, so that the first time a future customer visits your site, they’ll know how to use it. More importantly, they immerse your customer into the experience of your brand so they form a lasting emotional bond with your company.
            p
              a(href="/immersive") Learn More
      article
        .container
          img.mobile(src="/images/success.png")
          .serviceintrocopy
            h3 Interactive Marketing
            p You may already “be on Facebook” or “doing twitter,” but are you seeing results? We create campaigns that leverage the latest trends and then implement and track results – so you can get back to actually running your business.
            p
              a(href="/interactive") Learn More
          img.desktop(src="/images/success.png")
      article
        .container
          img(src="/images/mobile.png")
          .serviceintrocopy
            h3 Mobile
            p 40% (and rising) of the people that visit your website are visiting from a mobile device. If your site isn’t optimized to convert these visitors, you’re missing opportunities every day.
            p
              a(href="/mobile") Learn More
      article
        .container
          img.mobile(src="/images/commerce.png")
          .serviceintrocopy
            h3 Online Commerce
            p Consumers spend a lot of money online. It’s a fact of modern life. No matter what size your business is, you can capitalize on this by selling your products online.
            p
              a(href="/commerce") Learn More
          img.desktop(src="/images/commerce.png")
      article
        .container
          img(src="/images/consult.png") 
          .serviceintrocopy
            h3 Consulting & Strategy
            p Have a pressing business problem? Trying to keep up? Not sure where to go next? Our consulting and strategy will get you back on the path to limitless growth.
            p
             a(href="/consulting") Learn More
      