extends layout
 
block content
  main.main(role='main')
    .container
      aside
        ul.nav-sub
          li
            a(href='/company') Company
          li.current-page
            a(href='/team') Team
          li
            a(href='/jobs') Jobs
          li
            a(href='/contact') Contact

      section 
        p.leader.center Our promise to create limitless results isn’t just our name – it’s integrated into how we approach every project. 
        p Digital marketing is complex. To build our team, we knew we couldn’t be constrained to choosing talent from one place. We hand picked the best web innovators and minds to ensure that no matter what the challenge or need – we have an expert ready to lend a hand. Although we are based out of St. John’s Newfoundland, our team reaches into Romania, California, Australia, Vancouver and many places in between.
        p P.S. If you’re passionate about driving results through online innovation, you’re 
          a(href='/contact') our kind of client
          | .
        article 
          h3.center Meet Our Innovators:
          ul.team
            li
              h4 Scott Oldford 
                span Strategy + Direction
              p I’ve banned the term “CEO” from my vocabulary. It’s technically what I am, but it doesn’t feel quite right. The title makes it seem like this is about me, but this job is about 
                b YOU
                | . Your strategy. Your growth.
            li
              h4 Rob Swick 
                span Search Samurai
              p I once heard that an advertisers job is to "make corporate propaganda feel like folksy truisms". As an SEO professional, my job is very different. I research the real interests and authentic language of people and work clients like you to incorporate this information into your story. I do that from sun-up to sundown, rain or shine, 24/7. 
            li Learning is good. Common sense is gold. 
            li You can’t be an expert in everything. Great success depends on working with other leaders.
            li Limits are just excuses. You can’t achieve greatness by doing the things you’ve always done.
        .partnered
          p.leader.center Does this resonate?
            | We want you to 
            a(href='/contact') partner with us
            | .