extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/towngf-placehold.jpg')
    .container
      section.work
        h2 Town Website Designed &amp; Developed To Showcase Local Information &amp; Inspire Growth
        .case-studycopy
          p Located in Newfoundland and Labrador, the town of Grand Falls-Windsor has been a long-standing client of our web agency for the past five years. In that amount of time, we’ve completed various versions of the Town’s website. 
          p The newest version features advanced programming, superior website design and development, social media marketing and an advanced content management system (CMS).
          p By using our analytic software, we determined that people came to the website for three main things: events, news, and business listings. Bearing this in mind, we brought the information to the forefront of the website and integrated the branding developed by Tract Consulting.
          p In doing so, the Town of Grand-Falls Windsor now has a well-branded online presence that can be used for many years to come.
        aside
          h4 Projects Included
          ul
            li CMS
            li A/B Split Testing
            li Web Design and Development
            li Social Media Marketing
          a.button(href="http://www.townofgrandfallswindsor.com/") Visit the Site