extends layout

block content
  main.main.case-studies(role='main')
    div.image-header
      img(src='/images/work/clarenville-placehold.jpg')
    .container
      section.work
        h2 Local Town Website Design To Attract Tourism
        .case-studycopy
          p The Town of Clarenville relied on us to develop their new town site and it's been an amazing success!
          p The new town website has attracted over 30,000 visitors in less than 6 months. The site engages and informs the visitor (evident by the above-average time on the site of 3 minutes per visit). Now, all town information is easily accessible to citizens and tourists. As an on-going effort, we also maintain all of the town's departments including recreation and the fire department.
          p The amazing part of the new town site - launched alongside its new brand - is that the reactions from the people who see it. We’ve heard countless comments about how easy it is to use and find information.
          p We recently completed another update to the website to improve how some of the functions work. We’ve been watching the analytics to see exactly how visitors use the site, and use them to constantly improve the site. The best web development isn’t a one time "set and forget" situation, it’s something that happens over time. 
        aside
          h4 Projects Included
          ul
            li Strategy and Consulting
            li Web Design &amp; Development
          a.button(href="http://www.clarenville.net", target="_blank") Visit the Site