extends layout

block content
  main.main(role='main')
    .container
      section.services
        h2 Client Case Studies
        p.leader.center 
          | Our clients are our reason for getting up in the morning. 
          | And sometimes for not going to bed at night.
        .leftcontent
          p We wouldn’t have it any other way. Many are friends. We are honoured to contribute to their success and are inspired by their goals to change the world.
          p Our Internet marketing case studies highlight our work in website design and development, SEO, social media marketing, consulting, and application development. Enjoy!
        article.worklist
          ul
            li 
              a(href="/marble-mountain-resort") 
                img.sampling(src='/images/work/marblemountain.jpg')
                div.title
                  h4 Marble Mountain Resort
            li 
              a(href="/remedy-for-wellness")
                img.sampling(src='/images/work/RemedyWellness.jpg')
                div.title
                  h4 Remedy for Wellness
            li 
              a(href="/town-of-grand-falls-windsor")
                img.sampling(src='/images/work/towngf.jpg')
                div.title
                  h4 Town of Grand Falls-Windsor
            li 
              a(href="/brenkir-industrial-supplies")
                img.sampling(src='/images/work/brinkir.jpg')
                div.title
                  h4 Brenkir Industrial Supplies
            li 
              a(href="/town-of-clarenville")
                img.sampling(src='/images/work/clarenville.jpg')
                div.title
                  h4 Town of Clarenville
            li 
              a(href="/ellsworth-2013")
                img.sampling(src='/images/work/ellsworth.jpg')
                div.title
                  h4 Ellsworth 2013
            li 
              a(href="/golfwrx")
                img.sampling(src='/images/work/golf.jpg')
                div.title
                  h4 Golfwrx