@import "mixins"

/* ============================================================
	Main Style
============================================================ */

html
  background $white
  margin 0
  padding 0
  height 100%
  font-size 100%
  overflow-x hidden
  -webkit-overflow-scrolling touch
  -webkit-tap-highlight-color #f3f5f6
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%

body
  width 100%
  padding 0
  margin 0
  font-family $font
  pagebackground()
  color $darkgrey
  font-weight $regular
  font-style normal
  font-size em(18)
  line-height 1.5
  -webkit-font-smoothing antialiased
  /* Fix for webkit rendering */
  -webkit-text-size-adjust 100%
  -moz-font-feature-settings: 'kern=1, liga=1'; /* moz prefix - edit font-feature-settings property */
  -ms-font-feature-settings: 'kern' 1, 'liga' 1; /* ms prefix - edit font-feature-settings property */
  -webkit-font-feature-settings: 'kern' 1, 'liga' 1; /* webkit prefix - edit font-feature-settings property */
  -o-font-feature-settings: 'kern' 1, 'liga' 1; /* o prefix - edit font-feature-settings property */
  font-feature-settings: 'kern' 1, 'liga' 1;

a
  color $light-orange
  text-decoration none
  text-transform uppercase
  font-weight $semi-bold
  outline none
  cursor pointer
  &:hover
    color $darkorange

hr 
  display block
  background none;
  margin 2em 0
  padding 0
  border none
  border-bottom 1px solid #dce0d9

/* ============================================================
	Helpers
============================================================ */

.hidden
  border 0
  padding 0
  clip rect(0 0 0 0)
  width 1px
  height 1px
  margin -1px
  overflow hidden
  position absolute

/* ============================================================
	Overall Styles
============================================================ */

.container
  margin 0 auto
  padding 1em 5%
  max-width 100%
  width 85%
  clearfix()
  @media screen and (min-width: 30em)
    padding 1em 2.5%

.content
  position: relative;
  width: 100%;


/* ============================================================
	Typography
============================================================ */

h1, h2, h3, h4, h5, h6
  font-family $headline-font
  font-weight $semi-bold
  margin 0
  text-transform uppercase
  color $green

h1 a
h2 a
h3 a
h4 a
h5 a
h6 a
  font-weight inherit
  color $green

h1
  font-size em(60)
  margin-bottom 1.3em

h2
  font-size em(36)
  font-weight $heavy
  text-align center

p.leader
  font-size em(28)
  
.center
  text-align center


/* ============================================================
	Header
============================================================ */
.header_nav
  position fixed
  top 0
  left 0
  width 100%
  background tranparent
  z-index 10000
  height 200px
  overflow hidden
  -webkit-transition height 0.3s
  -moz-transition height 0.3s
  transition height 0.3s
  .cbp-af-inner
    margin 0 auto
    padding 0
    width 85%
    clearfix()
  h1
    width 25%
    margin 0
    float left
    text-indent -9999px
    background transparent url('../images/Infinitus-logo-full.png') no-repeat center
    -webkit-background-size contain
    -moz-background-size contain
    -o-background-size contain
    background-size contain
  nav
    width 50%
    float right
    ul
      float none
      margin-bottom 0
    a
      color $white
      font-weight 500
      font-size 1.4em
      line-height 115px
      margin 0
      &:hover
        color #333
  &.header_nav-shrink
    height 70px
    background $white
    border-bottom 1px solid #ccc
    .cbp-af-inner
      max-width 100%
    h1
      font-size 1em
      font-size 2em
    nav
      a
        font-size .75em
        color $light-orange
        font-weight 500
      li
        a
          font-size .75em

.header_nav h1, .header_nav nav
  display inline-block
  position relative
  display block
  float none

.header_nav h1, .header_nav nav a
  line-height 200px

.header_nav h1
  text-transform uppercase
  color #333
  letter-spacing 4px
  font-size 2em
  margin 0
  float left

.header_nav nav
    float right
    text-align center 
    ul
      float none
      margin-bottom 0
      @media (min-width: 55em)
        padding 0
        margin 0
        width 100%
      li
        display inline-block
        height auto
        width 18.25%
        padding 0 18px
        text-align center
        clearfix()
      a
        color $white
        font-weight 700
        font-size 1em
        font-family $headline-font
        text-align center
        &:hover
          color #333

.header_nav h1, .header_nav nav li a
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

.header_nav
  &.header_nav-shrink
    height 70px
    background $white
    .cbp-af-inner
      max-width 95%
      clearfix()
    h1
      width 8%
      float left
      text-indent -9999px
      margin-right 2%
      background transparent url('../images/Infinitus-logo.png') no-repeat center
      -webkit-background-size contain
      -moz-background-size contain
      -o-background-size contain
      background-size contain
    nav
      float left
      width 60%
      text-align left
      ul
        li
          width 9.25%
          padding 0 18px
          text-align center
      a
        font-size .75em

.header_nav.header_nav-shrink h1, .header_nav.header_nav-shrink nav a
  line-height 70px

@media screen and (max-width: 55em)
  .header_nav
    background #f6f6f6
    .cbp-af-inner
      width 100%
    h1
      line-height 75px
    nav
      a
        line-height 115px
        margin 0 10px
    &.header_nav-shrink
      h1
        font-size 2em
      nav
        li
          a
            font-size .75em

  .header_nav h1, .header_nav nav
    display block
    margin 0 auto
    text-align center
    float none

  .header_nav.header_nav-shrink h1, .header_nav.header_nav-shrink nav a
    line-height 45px
  
@media screen and (max-width: 32.25em)
  .header_nav nav a
    font-size 1em;

@media screen and (max-width: 24em)
  .header_nav
    background #f6f6f6
  .header_nav nav a, .header_nav.header_nav-shrink nav a
      line-height 1

/* ============================================================
	Content
============================================================ */
.main
  padding-top 8%

/* Home Page */

.featuredPages
  clearfix()
  row(12)
  padding-bottom 1em
  border none
  border-bottom: 1px solid #dce0d9
  margin 3% 0
  .one-third
    column(12)
    @media (min-width: 30em)
      column(4)
    h3
      text-align left
      color $green

/* Homepage Blog Callouts */

.latestblogs
  clearfix()
  row(12)
  .post
    column (12)
    @media (min-width: 30em)
      column(4)
    h4
      text-transform none
      font-weight 700
      a
        text-transform none
        font-weight 700
    .date
      font-size .75em
      font-family $headline-font
    .post.content
      width 100%
      margin 0
      padding 0

/* COMPANY | TEAM | JOBS | CONTACT */

.nav-sub
  list-style none
  text-transform uppercase
  column(2)
  font-family $headline-font
  li
    padding 5px 0
    border-bottom 1px solid #dadee1
  a
    padding 5px 10px
    display block
    font-size em(18)
    font-weight 500
    color #7d8389
    text-align left
    position relative
    left -10px
    -webkit-border-radius 30px
    -moz-border-radius 30px
    -ms-border-radius 30px
    -o-border-radius 30px
    border-radius 30px


.current-page a 
.nav-sub a:hover
  color #8fc743
  -webkit-transition color 0.3s linear
  -moz-transition color 0.3s linear
  -o-transition color 0.3s linear
  transition color 0.3s linear

section
  column(9)
  h2
    margin-bottom 0
  p.leader
   color $darkgrey
   margin-bottom 5%
   line-height 1.2
   border-bottom 1px solid #dce0d9
   padding-bottom 3%
   display block
   position relative
   span
     color $darkorange
     font-weight $heavy
  a
    text-decoration underline
    text-transform none
  article
    margin-top 8%
  ul
    clearfix()
    margin 0
    padding 0
    list-style none
    li
      column(6)
      margin 3% 0
    &.team
      margin-top 3%
      li
        column(5)
        background $white
        padding 2%
        border-radius 3px
        border 1px solid #dce0d9 
        h4
          color $darkergrey
          text-transform none
          span
            display block
            color $green
  .partnered
    width 100%
    margin-top 3%
    background transparent
    text-align center
    border-top 1px solid #dce0d9 



 

/* ============================================================
	Footer
============================================================ */

footer
  padding-top 0%
  background-color $footergrey
  a
    color $offwhite
    font-family $headline-font
    &.twitter
      float left
      font-size .75em
      width 25%
    &.facebook
      float right
      font-size .75em
      width 25%
      text-align right
  p
    color $offwhite
  .darker
    background-color $darkergrey
    font-size .75em
    font-family $font
    .container
      p
        display inline-block
        margin 0
        width 32%
        float left
        &.copyright
          margin-left auto
          margin-right auto
          text-align center
      ul
        margin 0
        list-style none
        float right
        display inline-block
        width 30%
        text-align right
        li
          display inline-block
          width auto
          text-align right
          &:after
            content "/"
            padding 0 .3em
          &:last-child
            &:after
              content: ""
          a
            font-family $font

