@import "mixins"

#slides
  position relative
  .slides-container
    display none
  .scrollable
    *zoom 1
    position relative
    top 0
    left 0
    overflow-y auto
    -webkit-overflow-scrolling touch
    height 100%
    &:after
      content ""
      display table
      clear both
.slides-navigation
  margin 0 auto
  position absolute
  z-index 3
  top 46%
  width 100%
  a
    position absolute
    display block
    color #fff
    &.prev
      left 0
    &.next
      right 0

.slidecaption
  position relative
  display block
  width 100%
  max-width 580px
  left 90px
  top 33%
  padding 10px 20px
  color #323232
  h1
    color inherit
    margin-bottom 0
    font-size em(50)
    line-height 1
    margin 0 0 3%
    font-weight $semi-bold
  h3
    font-family $font-headline
    font-weight $semi-bold
    font-size em(22)
    width 80%
    text-transform none
    color inherit
  p
    margin-top 6%
  a
    position relative
    width auto
    color #fff
    background #222
    background-color rgba(0,0,0,0.30)
    border 2px solid #fff
    border-radius 3px
    padding 2% 5%
    font-family $headline-font
    font-weight 700
    font-size .75em
    -webkit-transition all 0.3s ease-in-out
    -moz-transition all 0.3s ease-in-out
    -o-transition all 0.3s ease-in-out
    -ms-transition all 0.3s ease-in-out
    transition all 0.3s ease-in-out
    &:hover
      color #fff
      border 2px solid $darkorange
      background-color rgba(0,0,0,0.60)
  &.light
    color #fff

.slides-pagination
  position absolute
  z-index 3
  bottom 0
  text-align center
  width 100%
  a
    border 2px solid #fff
    border-radius 15px
    width 10px
    height 10px
    display -moz-inline-stack
    display inline-block
    vertical-align middle
    *vertical-align auto
    zoom 1
    *display inline
    margin 2px
    overflow hidden
    text-indent -100%
    &.current
      background #fff

@media screen and (max-width: 55em)
  .slidecaption
    position relative
    display block
    width 80%
    max-width 500px
    left 0
    top 25%
    margin 0 auto
    padding 10px 20px
    text-align center
  .slides-navigation a
    opacity .4

